body {
    margin-top: 150px;
}

h1, h2 {
    margin-left: 75px;
}

h2 {
    margin-bottom: 0px;
}
img {
    margin: 0 50px;
    padding: 25px;
    align-items: center;
    width: 700px;
    height: 500px;
    object-fit: cover;
}
